.buttons {
	display: flex;
	justify-content: left;
}

.menu-button-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 5px;
}

.menu-button-2 , .menu-button-3{
	position: static !important;
}

.menu-button-container a{
	margin-top: auto !important;
}

.menu-button-container .main-info-button i:hover{
	cursor: pointer;
}

.main-info-button i{
	font-size: 18px;
}

.clicked{
	background-color: var(--hover);
}