@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	--font-1: "Inter", sans-serif;
	--section-gap: 24px;
	--border-radius-1: 8px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: var(--font-1);
}

.theme-light {
	--colour-1: #f5f5f5;
	--colour-2: #000000;
	--colour-3: #474747;
	--colour-4: #949494;
	--colour-5: #ebebeb;
	--colour-6: #dadada;

	--accent: #3a3a3a;
	--blur-bg: #ffffff;
	--blur-border: #dbdbdb;
	--user-input: #282828;
	--conversations: #666666;
	--right-sidebar:#ffffff;

	--link-color:#1a0dab;
	--link-hover-color:#551a8b;
	--user-msg-bg:#dadada;
	--box-shadow:#b9b8b871;
	--input-border:#000;
	--hover:#fafafac0;
}

.theme-dark {
	--colour-1: #181818;
	--colour-2: #ccc;
	--colour-3: #dadada;
	--colour-4: #f0f0f0;
	--colour-5: #181818;
	--colour-6: #242424;

	--accent: #151718;
	--blur-bg: #242627;
	--blur-border: #242627;
	--user-input: #f5f5f5;
	--conversations: #555555;
	--right-sidebar:#1f1f1f;

	--link-color:#4fc3f7;
	--link-hover-color:#81d4fa;
	--user-msg-bg:#333333;
	--box-shadow:#00000080;
	--input-border:#000;
	--hover:#ffffff0e;
}

body,
.main-container,
.sidebar,
.conversation,
.user-input,
.right-sidebar input[type="text"],
.right-sidebar input[type="number"],
#messages,
#message-input,
button,
textarea,
input,
.box {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}



html,
body {
	background: var(--colour-1);
	color: var(--colour-3);
}

ol,
ul {
	padding-left: 20px;
}

.shown {
	display: flex !important;
}

a:-webkit-any-link {
	color: var(--accent);
}

pre {
	white-space: pre-wrap;
}

@media screen and (max-height: 720px) {
	:root {
		--section-gap: 16px;
	}
}
