.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 264px;
  height: 100%;
  background-color: hsl(0, 0%, 12%);
  z-index: 999;
  padding: 1rem;
  box-shadow: -2px 0 5px hsla(0, 0%, 0%, 0.5);
  transition: transform 0.3s ease;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-color: hsl(0, 0%, 16%);
}

.hidden {
  transform: translateX(100%);
}

.error{
  opacity: 0;
  min-height: 20px;
}

.error.visible{
  opacity: 1;
}

/* Main Span */

#data_base_span{
    color: hsl(0, 0%, 85%);
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    padding-right: 5px;
    height: 32px;
    background: flex;
    top: 12px;
}

/* Other things which I have no idea why i did  */

.sidebar-content{
  position: relative;
  height: 100%;
}

.sidebar-content div{
  display: block;
  text-align: center;
  
}

.sidebar-content span{
  text-align: left;
  display: flow;
  color: hsl(0, 0%, 79%);
  background-color: hsl(0, 0%, 12%);
  top: 55px;
  bottom: 15px;
  font-family: sans-serif;
  font-size: 15px;
  border: 0px solid #555555;
  border-radius: 8px;
  padding: 5px;
}

/* Index name input area */

.sidebar-content .index i{
  font-size: 18px;
}

.sidebar-content #index{
  font-size: 15px;
  text-align: center;
  background-color: hsl(200, 4%, 17%);
  color: #DADADA;
  border: 0px solid #000;
  border-radius: 5px;
  height: 40px;
  width: 230px;
  top: 60px;
  bottom: 50px;
}

.sidebar-content #index:-webkit-autofill {
  background-color: hsl(200, 4%, 17%) !important; 
  -webkit-box-shadow: 0 0 0 1000px hsl(200, 4%, 17%) inset !important;
  -webkit-text-fill-color: #DADADA !important; 
  transition: background-color 9999s ease-in-out 0s;
  color: #DADADA !important;
  caret-color: #DADADA;
}

.sidebar-content #index:-webkit-autofill:focus::after{
  -webkit-text-fill-color: #DADADA;
}

.sidebar-content input::placeholder{
  font-size: 15px;
}

.sidebar-content input:focus{
  outline: none;
}

#submit_btn {
  display: flow;
  padding: 8px 12px;
  color: #DADADA;
  background-color:transparent;
  border: 1px solid #555555;
  top: 76px;
  width: 230px;
  border-radius: 8px;
  height: 35px;
  font-size: 14.5px;
  cursor: pointer;
}

#submit_btn:hover{
  background-color:hsl(0, 0%, 11%);
}

.fallback-icon{
  background-color: red;
}

.index #index-fallback-message{
  font-size: 14px;
  top: 83px;
  text-align: center;
  padding: 0px;
  bottom: 0px;
  display: block;
}

/* File input area */

.file_input {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  top: -35px;
}

.file_input i {
  font-size: 19px;
}

#file_name{
  padding: 8px;
  top: 44px;
  font-size: 14px;
  text-align: center;
  background-color: hsl(200, 4%, 17%);
  color: #CACACA;
  border: 0px solid #000;
  border-radius: 5px;
  height: 32px;
  width: 230px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.file_input input{
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 230px;
  height: 40px;
  color: transparent;
  cursor: pointer;
  }

.file_input input::-webkit-file-upload-button {
  visibility: hidden;
  
}
.file_input input[type="file"]::before {
  content: '+ Select a file';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  background-color: hsl(200, 4%, 14.5%);
  color: hsl(0, 0%, 75%);
  border-radius: 5px;
  height: 40px;
  width: 230px;
  bottom: 50px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.file_input input:hover::before {
  color: hsl(0, 0%, 69%);
}

/* .file_input input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.file_input .starting-page{
  top: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.tooltip-wrapper a{
  color: unset;
}

.file_input .tooltip-wrapper {
  position: relative;
  display: inline-block;
  align-items: left;
}

.file_input .tooltip-text {
  visibility: hidden;
  display: flow;
  width: 220px;
  height: 80px;
  background-color: hsl(0, 0%, 13%);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
}

.file_input .tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.file_input .info-icon{
  font-size: 18px;
  top: -20px;
  opacity: 0.6;
  margin-left: -20px;
  padding: 0px;
}

#starting-page{
  font-size: 15px;
  background-color: hsl(200, 4%, 17%);
  color: #DADADA;
  border: 0px solid #000;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  top: -25px;
  padding: 0px 10px;
  cursor: unset;
}

#starting-page::placeholder{
  font-size: 14px;
}

#starting-page::-webkit-outer-spin-button,
#starting-page::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* #starting-page[type=number]{
  -moz-appearance: textfield;
} */


.file_input button{
  position: relative;
  padding: 8px 12px;
  color: #DADADA;
  background-color:transparent;
  border: 1px solid #555555;
  top: -21px;
  width: 230px;
  border-radius: 8px;
  height: 35px;
  font-size: 14.5px;
  cursor: pointer;

}

.file_input button:hover{
  background-color:hsl(0, 0%, 11%);
}

.file_input #file-fallback-message{
  top: 3px;
  text-align: center;
  font-size: 14px;

}

/* current info  */

.current-info-container {
  position: absolute;
  bottom: 50px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  padding: 8px;
  background-color: hsl(0, 0%, 10%);
  border-radius: 8px;
  color: hsl(0, 0%, 80%);
  opacity: 0.9;
}
