.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 264px;
  height: 100%;
  background-color: var(--right-sidebar);
  z-index: 999;
  padding: 1rem;
  box-shadow: -2px 0 5px var(--box-shadow);
  transition: transform 0.3s ease;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border-color: hsl(0, 0%, 16%); */
  border-color: var(--blur-border);
}

.hidden {
  transform: translateX(100%);
}

.error {
  opacity: 0;
  min-height: 20px;
  margin-bottom: 0px;
}

.error.visible {
  opacity: 1;
  color: red;
}

.error.success {
  opacity: 1;
  color: lime !important;
}

/* Main Span */

#data_base_span {
  color: var(--colour-3);
  margin-top: 5px;
  padding: 5px;
  border-radius: 8px;
  padding-right: 5px;
  height: 32px;
  background: flex;
  top: 12px;
}

/* Other things which I have no idea why i did  */

.sidebar-content {
  position: relative;
  height: 100%;
}

.sidebar-content div {
  display: block;
  text-align: center;
}

.sidebar-content span {
  text-align: left;
  display: flow;
  color: var(--colour-3);
  background-color: var(--right-sidebar);
  top: 55px;
  bottom: 15px;
  font-family: sans-serif;
  font-size: 15px;
  border: 0px solid var(--conversations);
  border-radius: 8px;
  padding: 5px;
}

/* Index name input area */

.sidebar-content .index i {
  font-size: 18px;
}

.sidebar-content #index {
  font-size: 15px;
  text-align: center;
  /* background-color: #2a2c2d; */
  background-color: var(--blur-bg);
  color: var(--colour-3);
  border: 1px solid var(--blur-border);
  border-radius: 5px;
  height: 40px;
  width: 230px;
  top: 60px;
  bottom: 50px;
}

.sidebar-content #index:-webkit-autofill {
  background-color: var(--blur-bg) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--blur-bg) inset !important;
  -webkit-text-fill-color: var(--colour-3) !important;
  transition: background-color 9999s ease-in-out 0s;
  color: var(--colour-3) !important;
  caret-color: var(--colour-3);
}

.sidebar-content #index:-webkit-autofill:focus::after {
  -webkit-text-fill-color: var(--colour-3);
}

.sidebar-content input::placeholder {
  font-size: 15px;
}

.sidebar-content input:focus {
  outline: none;
}

#index-name-btn {
  display: flow;
  padding: 8px 12px;
  color: var(--colour-3);
  background-color: transparent;
  border: 1px solid var(--conversations);
  top: 76px;
  width: 230px;
  border-radius: 8px;
  height: 35px;
  font-size: 14.5px;
  cursor: pointer;
}

#index-name-btn:hover {
  background-color: color-mix(in srgb, var(--right-sidebar) 95%, black);
}

.index #index-fallback-message {
  font-size: 14px;
  top: 83px;
  text-align: center;
  padding: 0px;
  bottom: 0px;
  display: block;
}

/* File input area */

.file_input {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  top: -35px;
}

.file_input i {
  font-size: 19px;
}

#file_name {
  padding: 8px;
  top: 44px;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  color: var(--colour-3);
  border: 0px solid #000;
  border-radius: 5px;
  height: 32px;
  width: 230px;
  margin-top: 20px;
  margin-bottom: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file_input input {
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 230px;
  height: 40px;
  color: transparent;
  cursor: pointer;
}

.file_input input::-webkit-file-upload-button {
  visibility: hidden;
}
.file_input input[type="file"]::before {
  content: "+ Select a file";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  background-color: var(--blur-bg);
  color: var(--colour-3);
  border-radius: 5px;
  height: 40px;
  width: 230px;
  bottom: 50px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.file_input input:hover::before {
  color: hsl(0, 0%, 69%);
}

/* .file_input input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.file_input .starting-page {
  top: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.tooltip-wrapper a {
  color: unset;
}

.file_input .tooltip-wrapper {
  position: relative;
  display: inline-block;
  align-items: left;
}

.file_input .tooltip-text {
  visibility: hidden;
  display: flow;
  width: 220px;
  height: 100px;
  background-color: var(--colour-6);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
}

.file_input .tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.file_input .info-icon {
  font-size: 18px;
  top: -20px;
  opacity: 0.6;
  margin-left: -20px;
  padding: 0px;
}

#starting-page {
  font-size: 15px;
  background-color: var(--blur-bg);
  color: var(--colour-3);
  border: 1px solid var(--blur-border);
  border-radius: 5px;
  height: 40px;
  width: 200px;
  top: -25px;
  padding: 0px 10px;
  cursor: unset;
}

#starting-page::placeholder {
  font-size: 13px;
}

#starting-page::-webkit-outer-spin-button,
#starting-page::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* #starting-page[type=number]{
  -moz-appearance: textfield;
} */

.file_input button {
  position: relative;
  padding: 8px 12px;
  color: var(--colour-3);
  background-color: transparent;
  border: 1px solid var(--conversations);
  top: -21px;
  width: 230px;
  border-radius: 8px;
  height: 35px;
  font-size: 14.5px;
  cursor: pointer;
}

.file_input button:hover {
  background-color: color-mix(in srgb, var(--right-sidebar) 95%, black);
}

.file_input #file-fallback-message {
  top: -12px;
  text-align: center;
  font-size: 15px;
}

/* current info  */

.current-info-container {
  position: absolute;
  bottom: 50px;
  width: 220px;
  max-width: 220px;
  max-height: 79px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  padding: 8px;
  background-color: var(--blur-bg);
  border: 1px solid var(--conversations);
  border-radius: 8px;
  color: var(--colour-3);
  opacity: 0.9;
}

#current-index,
#starting-page {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 300px) and (min-height: 720px) {
  .menu-button-2 {
    right: 0px;
    top: 5px;
  }

  .menu-button-2.rotated {
    padding: 10px;
    right: 10px;
    top: 19px;
  }

  .menu-button i {
    transition: 0.55s;
  }
}
