#message-input {
	height: 64px;
	padding-right: 10px;
	width: 95%;
}

#message-input::-webkit-scrollbar {
	width: 5px;
	
}

#message-input::-webkit-scrollbar-track {
	background: #181818;
}

#message-input::-webkit-scrollbar-thumb {
	background: #585858;
	border-radius: 5px;
}


.input-box {
	position: relative;
}

#send-button{
	position: absolute;
	background-color: transparent;
	right: 0px;
	bottom: 25px;
}



@media screen and (max-width: 360px) {
	#message-input {
		margin: 0;
	}
}

